<h2>Food List</h2>
<table class="table-table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>DishName</th>
            <th>DIshCategory</th>
            <th>DishPrice</th>
         </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let food of foods">
        <td>{{food.id}}</td>
        <td>{{food.dishname}}</td>
        <td>{{food.dishcategory}}</td>
        <td>{{food.dishprice}}</td>
        <td>
            <input type="button" value="delete" class="btn btn-danger" (click)="deletebyid(food.id)"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="modify" class="btn btn-primary"  />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="View FoodInfo" class="btn btn-success" (click)="getFoodbyid(food.id)"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            </td>

</tr>
         
    </tbody>
    <br/>

</table>
